*{  
    margin: 0;
    padding: 0;

}

.cards {
    display: grid;
    grid-template-areas:
      "one two three"
      "one two four";
    text-align:center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 330px) 200px;
    gap: 1rem;
    padding: 2rem;
   
}

.card.full:nth-of-type(1) {
    grid-area: one;
  }

.card.full:nth-of-type(2) {
  grid-area: two;
}

.card:nth-of-type(3) {
  grid-area: three;
}

.card:nth-of-type(4) {
  grid-area: four;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 580px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "one one"
      "two two"
      "three four";
    grid-template-rows: repeat(2, 200px) repeat(2, 100px);
  }
}

@media (max-width: 400px) {
  .cards {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
    grid-template-rows: repeat(2, 200px) repeat(3, 100px);
  }
}



* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato;
  background-color: #F8F9FA;
  color: #333;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}


img {
    max-width: 100%;
    border-radius: 10px;
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.card {
  box-shadow: 0 2px 40px rgba(0 0 0 / 15%);
  background-color: #D99BFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 1rem;
}
